<div class="center hero-unit">
<h1> Book Index </h1>

<h2>
  <a> This is an attempt to create digital library</a>
</h2>

<%= link_to "Add a Book",'#', class: "btn btn-large btn-primary", style: 'width: 200px'  %>
<%= link_to "Add an Author", '#', class: "btn btn-large btn-warning", style: 'width: 200px'  %>


</div>

 <!= link_to image_tag("winnie_the_pooh_3.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
 <!= link_to image_tag("WinniePjatachok.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
 <!= link_to image_tag("vinnipoohidenzabot_donkey-lake-1.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>

