<div class="center hero-unit">
  <h1> Book Index </h1>

  <h2>
    <a> This is an attempt to create digital library</a>
  </h2>

  <%= link_to "Add a Book", '#', class: "btn btn-large btn-primary", style: 'width: 200px'  %>
  <%= link_to "Add an Author", '#', class: "btn btn-large btn-warning", style: 'width: 200px'  %>


</div>